Django==5.2.5
python-decouple==3.8
gunicorn==23.0.0
psycopg2-binary==2.9.10
Pillow==11.3.0
django-htmx==1.21.0
django-csp==4.0
django-unfold==0.65.0
django-tinymce==5.0.0
whitenoise==6.9.0
resend==2.11.0
